
/////////////RESET CSS///////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 body{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: transparent;
  //outline: 1px solid red;
  width: 100%;
}
.nav{
  position: fixed;
  top: 0;
  width:100%;
  background: rgba(0,0,0, 0.8);
  font-family: 'Open Sans', sans-serif;
  ul{
    width:85%;
    margin-left:186px;
    margin-bottom: 1px;
    margin-top: 7px;
    padding-bottom: 10px;
    li{
      padding-top: 22px;
      padding-right: 41px;
      display: inline-block;
      //outline: 1px solid white;
      text-align: center;

      a{
        color: #FFF;
        font-size: 1.3em;
        padding-right: 1px;
        font-weight:400;
        text-transform: uppercase;
        margin-left: 0;
        text-decoration: none;
      }
      :hover{
        color:#A40404;
        transition-duration: 0.4s;
      }
    }
  }
}
.header{
  background: url(../images/header.png) no-repeat  fixed;
  background-size: contain;
  width: 100%;
  height: 49vw;
	z-index:1;
	//outline: 3px solid orange;
}
.content{
    margin-top: 10%;
		margin-left: 4%;
		padding-bottom: 8.5%;
		//outline: 1px solid blue;
		.bloctexte{
		  width:48%;
			height: auto;
		  display: inline-block;
			font-size: 1.47em;
		}
		.jaquette{
			vertical-align: top;
	    margin-left: 86px;
	    background: url(../images/add.jpg) no-repeat;
			background-size: contain;
	    background-attachment: scroll;
	    background-repeat: no-repeat, repeat-y;
			width: 30.5%;
		  height: 58vw;
	    display: inline-block;
	    //border: 1px solid red;
		}
		.texte{
			display: inline-block;
	    width: 81%;
	    padding-left: 16.8%;
	    font-family: 'Open Sans';
	    //outline: 1px solid green;
		    h1{
		      margin-bottom: 5%;
		      font-size: 1.135em;
		    }

		    p{
		    width: 100%;
		    font-size: 1.075em;
		    line-height: 1.4;
		    padding-bottom:1%;
				}

		    }
		    .second{

		      padding-top: 4%;
		    }
		    .third{

		      padding-top: 3%;
		    }
		    .four{

		      padding-top: 4%;
		    }
		    .five{

		      padding-top: 3%;
		    }
		    .lasttext{
		      padding-top: 0%;
		    }
 }
.sith{
	background: url(../images/kiloren.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 49vw;
}
.content2{
	margin-top: 6.6%;
	h1{
		margin-left: 20%;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 2.81em;
	margin-bottom: 3.25%;

	}
	.sidetext{
		width: 89%;
    font-size: 1.25em;
    font-family: 'Open Sans';
    line-height: 1.65em;


	}
	.bottomtext{
		font-size: 1.22em;
	    font-family: 'Open Sans';
	    line-height: 1.8em;
	    margin-top: 4.5%;
	    margin-left: 12%;
	    width: 74%;

	}
	.r2d2{
		background: url(../images/r2d2.jpg) no-repeat;
	  background-size: contain;
	  width: 30vw;
	  height: 28vw;
		float:left;
		margin-left: 12%;
		margin-right:1%;
	}
}
.storm{
	margin-top: 6%;
	background: url(../images/stormtroopers.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 24.5vw;
}
.footer{
	background: url(../images/darthvader.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vw;
	font-family: 'Open sans';
	.titre{
		//outline: 1px solid orange;
		text-align: center;
		padding-bottom: 4%;
		span{
			font-weight: bold;
		}
	}
	.bloc{
		width:90%;
		//outline: 1px solid red;
		margin: 0 auto;
		margin-top:3%;
		padding-top: 4%;
		text-align: center;
		.left{
			vertical-align: top;
			display: inline-block;
			width:30%;
			text-decoration: underline;
			ul{
				li{
					padding-bottom: 4%;
					a{
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
		.center{
			vertical-align: top;
			display: inline-block;
			width:30%;
			text-decoration: underline;
			ul{
				li{
					padding-bottom: 4%;
					a{
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
		.right{
			display: inline-block;
			width:30%;
			text-transform: uppercase;
			p{
				padding-bottom: 4%;
			}
			li{
				display: inline-block;
				margin-left: 4%;

			}

		}
	}

}





/* Responsive: point de rupture smartphone  */
@media(max-width:767px){

	.nav{
	  position: fixed;
	  top: 0;
	  width:100%;
	  background-color: rgba(0,0,0,0.8);
	  font-family: 'Open Sans', sans-serif;
		margin: 0 auto;
	  ul{
	    width:50%;
			margin: 0 auto;
	    margin-bottom: 1px;
	    margin-top: 7px;
	    padding-bottom: 4%;
	    li{
				width: 100%;
	      display: block;
	      //outline: 1px solid white;
	      text-align: center;

	      a{
	        color: #FFF;
	        font-size: 1.3em;
	        padding-right: 1px;
	        font-weight:400;
	        text-transform: uppercase;
	        margin-left: 0;
	        text-decoration: none;
	      }
	      :hover{
	        color:#A40404;
	        transition-duration: 0.4s;
	      }
	    }
	  }
	}

	.content{
			.jaquette{
				display: none;
				width:0%;
			}
			.bloctexte{
				width:100%;
				.texte{
					padding-left: 5%;
					width:90%;
					text-align: center;
				}
			}
	}
	.content2{
		h1{
			margin-left:0;
			text-align: center;
		}
		.r2d2{
			margin-left: 13%;
			width:80%;
			height:80vw;
		}
		.sidetext{
			width:80%;
			padding-left: 12%;
			text-align: left;

		}
		.bottomtext{
			width:80%;
			text-align: left;

		}
	}
	.footer{
		width: 100%;
		height: 50vw;
		.bloc{
			width: 90%;
			//outline: 1px solid blue;
			.titre{

			}
			.left{
				text-align: left;
				width: 49%;
				//outline: 1px solid red;
			}
			.center{
				text-align: left;
				width: 49%;
				//outline: 1px solid red;


			}
			.right{
				width: 100%;
				text-align: left;

				p{
					display: inline-block;
					width:49%;


				}
				ul{
					//outline: 1px solid green;
					width:49%;
					display: inline-block;
					margin-top: 12%;
					li{
						display: inline-block;

					}

				}


			}
		}

	}
}



// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
.parallax-window {
    min-height: 612px;
    background: transparent;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}




/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
